.Home{
	font: 18px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin: 5px;
	background-color:#add8e6;
	background-image: linear-gradient(#add8e6,red, orange, yellow, green, #003366);
}
.Clothes{
	font: 18px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin: 5px;
	background-color:#add8e6;
}
.Videos{
	font: 18px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin: 5px;
	background-color:#add8e6;
	background-image: linear-gradient(#add8e6,red, orange, yellow, green, #003366);
}
.Login{
	font: 18px/1.5 Arial, Helvetica, sans-serif;
	padding:0;
	margin: 5px;
	background-color:white;
}
@media only screen and (min-width: 824px) {
	li{
		padding-left:30%;
		text-align:right;
		margin: 8%;
	}
	.Spotify{
		width:19%;
	}
}
@media only screen and (max-width: 825px) {
	li{
		list-style-type: none;
	}
	.Spotify{
		width:49%;
	}
}
header nav{
	float:right;
	margin-top:10px;
}
.EdHome{
	width:85%;
	margin:auto;
	overflow:hidden;
}

.images{
	vertical-align: middle;
	float:right;
}
	
ul.images li{
	font:18px/2.5;
	vertical-align: middle;
	display: inline-block;
	margin: 8%;
}
h1{
font: 30px/1.5 Arial, Helvetica, sans-serif;}

h2{
font: 80px/1.5 Arial, Helvetica, sans-serif;}